<?php

/** @var PhpCsFixer\ConfigInterface $config */
$config = include __DIR__.'/vendor/facile-it/facile-coding-standard/.php_cs';

$finder = PhpCsFixer\Finder::create();
$finder->in([
    __DIR__.'/src',
    __DIR__.'/tests',
]);

$config->setFinder($finder);

return $config;
