language: php
sudo: false
cache:
  directories:
    - ${HOME}/.composer/cache/files

matrix:
  include:
    - php: 7.1
      env:
        - DEPS="low"
    - php: 7.2
      env:
        - COVERAGE=true
    - php: nightly
  fast_finish: true
  allow_failures: 
    - php: nightly

install:
  - phpenv config-rm xdebug.ini
  - if [[ ${DEPS} == "low" ]]; then composer update --prefer-dist --prefer-stable --prefer-lowest --no-interaction; fi
  - if [[ -z ${DEPS} ]]; then composer update --prefer-dist --prefer-stable --no-interaction; fi

script:
  - if [[ ${COVERAGE} ]]; then phpdbg -qrr phpunit --coverage-clover ./build/logs/clover.xml; else phpunit; fi

after_success:
  - if [[ ${COVERAGE} ]]; then wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover ./build/logs/clover.xml; fi
